<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Ninja Gold</title>
</head>
<body>
<div class="container">
    <h3>Your Gold {{session.gold}}</h3>
    <div class ='choices' id ='farm'>
        <h2>Farm</h2>
        <p>(earns 10-20 golds)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class ='choices' id='cave'>
        <h2>Cave</h2>
        <p>(earns 5-10 golds)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="cave" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class ='choices' id='house'>
        <h2>House</h2>
        <p>(earns 2-5 golds)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class ='choices' id ='casino'>
        <h2>Casino</h2>
        <p>(earns/takes 0-50 golds)</p>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="casion" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <br><br>
    <p>Activities</p>
    <div id ='log'>
        <ul>
            {% for value in session['activities'] | reverse %}
                {% if value[:4]=='Lost' %}
                    <li style="color: red;">{{ value }}</li>
                {%else%}
                    <li style="color: green;">{{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="clear">
        <a href="/clear">Clear</a>
    </div>
</div>
</body>
</html>