<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div class="wrapper">
        <h1> Dojo Survey</h1>
        <form class="info" action ="/result" method="post">
            Your Name: <input id ="name" type="text" name="name"><br><br>
            Location: <select name="location" id="location">
                <option value="chicago">Chicago</option>
                <option value="sanjose">San Jose</option>
                <option value="boston">Boston</option>
                <option value="denver">Denver</option>
            </select><br><br>
            Favorite Language: <select name="language" id="location">
                <option value="python">Python</option>
                <option value="c">C</option>
                <option value="java">Java</option>
                <option value="javascript">Java Script</option>
            </select><br><br>
            <p>Comment (optional):</p>
            <input type="textarea" name="comment" id="comment"><br><br>
            <input id="btn" type="submit" name="button" value="Button">
        </form>
    </div>

</body>
</html>